<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minyan.dao.CurrencyRuleMapper">

    <resultMap type="com.minyan.po.CurrencyRulePO" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="currencyType" column="currency_type"/>
        <result property="currencyTypeDesc" column="currency_type_desc"/>
        <result property="effectiveType" column="effective_type"/>
        <result property="effectiveCycle" column="effective_cycle"/>
        <result property="effectiveSpan" column="effective_span"/>
        <result property="expireCycle" column="expire_cycle"/>
        <result property="expireSpan" column="expire_span"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delTag" column="del_tag"/>
    </resultMap>

    <sql id="Base_Fragment_SQL">
        id, currency_type, currency_type_desc, effective_type, effective_cycle, effective_span, expire_cycle,
        expire_span, start_time, end_time, create_time, update_time, del_tag
    </sql>

    <select id="selectByCurrencyType" resultMap="BaseResultMap">
        select
        <include refid="Base_Fragment_SQL"/>
        from currency_idempotent
        <where>
            del_tag = 0
            and currency_type = #{currencyType,jdbcType=INTEGER}
        </where>
    </select>

    <insert id="insertSelective" parameterType="com.minyan.po.CurrencyAccountPO">
        insert into currency_idempotent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="businessId != null">
                business_id,
            </if>
            <if test="behaviorCode != null">
                behavior_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="businessId != null">
                #{businessId,jdbcType=VARCHAR},
            </if>
            <if test="behaviorCode != null">
                #{behaviorCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>